# OS
.DS_Store

# Editors
**/.vscode
.idea/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
dist/
build/

# Virtual environments
env/
venv/

# Testing / coverage
.pytest_cache/
.coverage
.benchmarks/
htmlcov/

# Artifacts
*.jsonl
*.png
*.csv
